.confirm-modal-container {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .backdrop {
    position: absolute;
    opacity: 20%;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .modal-content {
    padding: 1rem;
    margin: 0 3rem;
    z-index: 1;
    max-width: fit-content;
    background-color: white;
    @include media-below(lg) {
        margin: 0 1rem;
    }
  }
}
